<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SleepOnCompletion"  value="false"/>
    <add key="ZipResult"          value="true"/>
    <add key="Versions"           value="5"/>
    <add key="Source"             value="D:\Data\Backup\Source" />
    <add key="Target"             value="D:\Data\Backup\Target" />
  </appSettings>
</configuration>